
body {
    font-family:' Arial',sans-serif; 
    background: #fff0f6 ;
    margin: 0;
    padding: 20px;
    }
.header h1 {
    text-align: center;
    margin-bottom: 30px;
}
.h1{
    font-size: 2.5rem;
    color: #c43e3e;
    margin-bottom: 0;
}
nav a{
    text-decoration: none;
    text-align: right;
    color: blue;

}
.location {
    color: rgb(192, 25, 183);
}
.cake {
    color: green;
}
.card{
    color: #c43e3e;
}