
body {
    font-family:' Arial', 
sans-serif; 
    background: #fff0f6 ;
    color: #5a2a27;
    margin: 0;
    padding: 20px;
    }


.header {
    text-align: center;
    margin-bottom: 30px;
}
.h1{
    font-size: 2.5rem;
    color: #c43e3e;
    margin-bottom: 0;
}
.ul  {
list-style-type:none;
padding: 0;
max-width: 400px;
margin: 0 outo;
}